.light-dark-mode {
  background-color: var(--background);
  height: 100vh;
  transition: all 0.5s;
  padding: 1rem;
}

.container h1 {
  color: var(--text-primary);
  font-size: 2rem;
}

.light-dark-mode button {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--button-bg);
  color: var(--button-text);
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
}
